* {
	margin: 0;
	padding: 0;
}

.body{
    background-color: #28566E;
    height:auto;
    width:100%;
    color:white;
}

.navbar{
    box-shadow: 0 2px 3px #1c3c4d;
}
[data-bs-theme=dark] {
    --bs-tertiary-bg-rgb: 40, 86, 110 !important;
}

.footer{
    box-shadow: 0 -2px 3px #1c3c4d;
}

.image-container {
    background-image: url("pictures/tourist.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

